<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<h1>Welcome to the Betting Board</h1>

<h2>Hello @ViewBag.User.FirstName</h2>
   <!-- Styleswitcher
================================================== -->
        <div class="colors-switcher">
            <a id="show-panel" class="hide-panel"><i class="fa fa-tint"></i></a>        
                <ul class="colors-list">
                    <li><a title="Light Red" onClick="setActiveStyleSheet('light-red'); return false;" class="light-red"></a></li>
                    <li><a title="Blue" class="blue" onClick="setActiveStyleSheet('blue'); return false;"></a></li>
                    <li class="no-margin"><a title="Light Blue" onClick="setActiveStyleSheet('light-blue'); return false;" class="light-blue"></a></li>
                    <li><a title="Green" class="green" onClick="setActiveStyleSheet('green'); return false;"></a></li>
                    
                    <li class="no-margin"><a title="light-green" class="light-green" onClick="setActiveStyleSheet('light-green'); return false;"></a></li>
                    <li><a title="Yellow" class="yellow" onClick="setActiveStyleSheet('yellow'); return false;"></a></li>
                    
                </ul>

        </div>  
<!-- Styleswitcher End
================================================== -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wanna Bet?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="account/{id}">Account</a>
                    </li>
                    <li>
                        <a href="/betform">Propose Bet</a>
                    </li>
                    <li>
                        <a href="/account">View Bets</a>
                    </li>
                    <li>
                        <a href="/mymessages">My Messages</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wanna Bet?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="account/{@ViewBag.User.UserId}">Account</a>
                    </li>
                    <li>
                        <a href="/betform">Propose Bet</a>
                    </li>
                    <li>
                        <a href="/account">View Bets</a>
                    </li>
                    <li>
                        <a href="/mymessages/@ViewBag.User.UserId">My Messages</a>
                    </li>
                    <li>
                      <a href ="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<h1>Welcome to the Betting Board</h1>
<h2>Hello @ViewBag.User.FirstName</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Originator</th>
    <th>Closing Date</th>
    <th>Reserve Count</th>
    <th>Reserve</th>
  </tr>


  @foreach(var bet in ViewBag.AllBets)
  {
    int val = 0;
    int rid = 0;
    @if(bet.ClosingDate > DateTime.Now)
    {
  <tr>
    <td><a href="/bet/@bet.BetId">@bet.Title</a></td>
    <td>@bet.Description</td>
    <td>@bet.Amount</td>
    <td><a href="/userinfo/@bet.User.UserId">@bet.User.FirstName</a></td>
    <td>@bet.ClosingDate</td>
    <td>@bet.listOfParticipants.Count</td>
    @foreach(var user in bet.listOfParticipants)
    {
      @if(user.BetterId == ViewBag.id)
      {
        val = 1;
      }
      else if(user.TakerId == ViewBag.id)
      {
        val = 2;
        rid = user.ReserveId;
      }
    }
    @if(bet.UserId == ViewBag.id)
    {
      val = 1;
    }
    @if(val == 1)
    {
      <td><a href="/deletebet/@bet.BetId">Delete   @val</a></td>
    }
    else if(val == 0 && bet.listOfParticipants.Count < 1)
    {
      <td><a href="/reservebet/@bet.BetId/@bet.UserId">Take it @val</a></td>
    }
    else if(val == 0 && bet.listOfParticipants.Count > 0)
    {
      <td>Bet Taken @val</td>
    }
    else if(val == 2)
    {
      <td><a href="/cancelreserve/@rid">Unreserve it @val</a></td>
    }
    
  </tr>
    }
  }



</table>