

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wanna Bet?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="account/{id}">Account</a>
                    </li>
                    <li>
                        <a href="/betform">Propose Bet</a>
                    </li>
                    <li>
                        <a href="/account">View Bets</a>
                    </li>
                    <li>
                        <a href="/mymessages">My Messages</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<h1>Bet Info Page</h1>
<h3>Title:</h3>
<h6>@ViewBag.thisBet.Title</h6>
<h3>Description:</h3>
<h6>@ViewBag.thisBet.Description</h6>
<h3>Amount:</h3>
<h6>@ViewBag.thisBet.Amount</h6>
<h3>Closing Date:</h3>
<h6>@ViewBag.thisBet.ClosingDate</h6>
<h3>Originator:</h3>
<h6>@ViewBag.thisBet.User.FirstName @ViewBag.thisBet.User.LastName</h6>
<h1>Add Bets To Favorites</h1>
<button><a href="/addfavorite/@ViewBag.thisBet.BetId/@ViewBag.userId">Favorite</a></button>
<h1>List of Messages</h1>
<table>
  <tr>
    <th>Message</th>
    <th>Post Time</th>
    <th>Author</th>
    <th>Action</th>
  </tr>

  @foreach(var mes in ViewBag.listOfMessages)
  { 
      @foreach(var sage in mes.listOfMessages)
      {
        @if(sage.BetId == ViewBag.ThisBet.BetId)
        {
            <tr>
              <td>@sage.Contents</td>
              <td>@sage.CreatedAt</td>
              <td>@sage.User.FirstName</td>
            @if(sage.UserId == ViewBag.userId)
            {
                <td><button><a href="/deletemessage/@sage.MessageId">Delete</a></button></td>
            }
            else
            {
                <td>Null</td>
            }

            </tr>
        }

      }
  }

</table>


<h1>Add a Message</h1>
@model Message
<span asp-validation-for="Contents"></span><br>
<form asp-action="AddMessage" asp-controller="Home" method="post">

    <label asp-for="Contents"></label>
    <input asp-for="Contents">
    <br>

    <input type="hidden" name="BetId" value="@ViewBag.thisBet.BetId">
    <input type="hidden" name="UserId" value="@ViewBag.userId">

    <input type="submit" value="Post Message">
</form>