<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <title>MeetMe Personal</title>
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="alenaindex.cshtml"><img src="images/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="alenaindex.cshtml">Sportbook</a></li>
                            <li class="nav-item"><a class="nav-link" href="about-us.cshtml">Casino</a></li>
                            <li class="nav-item"><a class="nav-link" href="services.cshtml">Racing</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Bonuces</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="portfolio.html">Deposit</a></li>
                                    <li class="nav-item"><a class="nav-link" href="elements.html">Refer</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Contests</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img src="~/images/personal.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>This is your profile page</h6>
                                <h3>@ViewBag.user.FirstName @ViewBag.user.LastName</h3>
                                <h3>Number of Followers: @ViewBag.user.listOfFollows.Count</h3>
                                <p>You will begin to realise why this exercise is called the Dickens Pattern (with
                                    reference to the ghost showing Scrooge some different futures)</p>
                                <ul class="list basic_info">
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i> 25st October, 1995</a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i> 02 (312) 6955 773</a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i> james@gmail.com</a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i> Chicago IL</a></li>
                                </ul>
                                <ul class="list personal_social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                            <div id="formforuser">
                                @{
                                bool action = false;
                                int fid = 0;
                                }
                                @foreach(var fol in ViewBag.user.listOfFollows)
                                {


                                @if(fol.FollowerId == ViewBag.userInSession.UserId)
                                {
                                action = true;
                                fid = fol.FollowId;
                                }

                                }
                                @if(action == false)
                                {

                                <button><a
                                        href="/addfollow/@ViewBag.userInSession.UserId/@ViewBag.user.UserId">Follow</a></button>
                                }
                                @if(action == true)
                                {
                                <button><a href="/unfollow/@fid">UnFollow</a></button>
                                }
                                <h1>Send a Message</h1>
                            </div>
                            
                            @model UserMessage

                            <form asp-action="AddUserMessage" asp-controller="Home" method="post">

                                <label asp-for="Info"></label>
                                <input asp-for="Info">
                                <br>

                                <input type="hidden" name="SenderId" value="@ViewBag.userInSession.UserId">
                                <input type="hidden" name="ReceiverId" value="@ViewBag.user.UserId">

                                <input type="submit" value="Post Message">
                            </form>

                            @foreach(var bet in ViewBag.userBets.BetterBets)
                            {
                            <h3>@bet.Bet.Title</h3>
                            <p>@bet.Bet.Description</p>
                            }

                            <section class="welcome_area p_120">
                                <div class="container">
                                    <div class="row welcome_inner">
                                        <div class="col-lg-6">
                                            <div class="welcome_text">
                                                <h4>About Myself</h4>
                                                <p>inappropriate behavior is often laughed off as “boys will be boys,”
                                                    women face higher conduct
                                                    standards especially in the workplace. That’s why it’s crucial that,
                                                    as women, our behavior
                                                    on the job is beyond reproach. inappropriate behavior is often
                                                    laughed.</p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="wel_item">
                                                            <i class="lnr lnr-database"></i>
                                                            <h4>$2.5K</h4>
                                                            <p>Total Donation</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="wel_item">
                                                            <i class="lnr lnr-book"></i>
                                                            <h4>98</h4>
                                                            <p>Total Bets</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="wel_item">
                                                            <i class="lnr lnr-users"></i>
                                                            <h4>40</h4>
                                                            <p>Total Followers</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="tools_expert">
                                                <div class="skill_main">
                                                    <div class="skill_item">
                                                        <h4>Horse Racing <span class="counter">85</span>%</h4>
                                                        <div class="progress_br">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="85" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="skill_item">
                                                        <h4>American Football <span class="counter">90</span>%</h4>
                                                        <div class="progress_br">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="90" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="skill_item">
                                                        <h4>Boxing <span class="counter">70</span>%</h4>
                                                        <div class="progress_br">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="70" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="skill_item">
                                                        <h4>Basketball <span class="counter">95</span>%</h4>
                                                        <div class="progress_br">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="95" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="skill_item">
                                                        <h4>Hockey <span class="counter">75</span>%</h4>
                                                        <div class="progress_br">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="75" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!--================End Welcome Area =================-->

                            <!--================My Tabs Area =================-->
                            <section class="mytabs_area p_120">
                                <div class="container">
                                    <div class="tabs_inner">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                    role="tab" aria-controls="home" aria-selected="true">My Favorite
                                                    Bets</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                                    role="tab" aria-controls="profile" aria-selected="false">My
                                                    Followers</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane show active" id="home" role="tabpanel"
                                                aria-labelledby="home-tab">
                                                <ul class="list">
                                                    <li>
                                                        <span></span>
                                                        <div class="media">
                                                            <div class="bet-side">
                                                                <h4>Total Over/Under Bets</h4>
                                                            </div>
                                                            <div class="follower-side">
                                                                <h4>Chistofer</h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span></span>
                                                        <div class="media">
                                                            <div class="bet-side">
                                                                <h4>Future and Outright Bet</h4>
                                                            </div>
                                                            <div class="follower-side">
                                                                <h4>Carolina</h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span></span>
                                                        <div class="media">
                                                            <div class="bet-side">
                                                                <h4>Handicap/Point Bet </h4>
                                                            </div>
                                                            <div class="follower-side">
                                                                <h4>Kristina</h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--================End My Tabs Area =================-->

                            <!--================Feature Area =================-->

                            <!--================End Feature Area =================-->

                            <!--================Home Gallery Area =================-->

                            <!--================End Home Gallery Area =================-->

                            <!--================Testimonials Area =================-->

                            <!--================End Testimonials Area =================-->

                            <!--================Footer Area =================-->
                            <footer class="footer_area p_120">
                                <div class="container">
                                    <div class="row footer_inner">
                                        <div class="col-lg-5 col-sm-6">
                                            <aside class="f_widget ab_widget">
                                                <div class="f_title">
                                                    <h3>About Me</h3>
                                                </div>
                                                <p>Do you want to be even more successful? Learn to love learning and
                                                    growth. The more effort
                                                    you put into improving your skills,</p>
                                                <p>
                                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                    Copyright &copy;
                                                    <script>document.write(new Date().getFullYear());</script> All
                                                    rights reserved | This
                                                    template is made with <i class="fa fa-heart-o"
                                                        aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                        target="_blank">Colorlib</a>
                                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                </p>
                                            </aside>
                                        </div>
                                        <div class="col-lg-5 col-sm-6">
                                            <aside class="f_widget news_widget">
                                                <div class="f_title">
                                                    <h3>Newsletter</h3>
                                                </div>
                                                <p>Stay updated with our latest trends</p>
                                                <div id="mc_embed_signup">
                                                    <form target="_blank"
                                                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                                        method="get" class="subscribe_form relative">
                                                        <div class="input-group d-flex flex-row">
                                                            <input name="EMAIL" placeholder="Enter email address"
                                                                onfocus="this.placeholder = ''"
                                                                onblur="this.placeholder = 'Email Address '" required=""
                                                                type="email">
                                                            <button class="btn sub-btn"><span
                                                                    class="lnr lnr-arrow-right"></span></button>
                                                        </div>
                                                        <div class="mt-10 info"></div>
                                                    </form>
                                                </div>
                                            </aside>
                                        </div>
                                        <div class="col-lg-2">
                                            <aside class="f_widget social_widget">
                                                <div class="f_title">
                                                    <h3>Follow Me</h3>
                                                </div>
                                                <p>Let us be social</p>
                                                <ul class="list">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </footer>

</body>

</html>